@font-face {
    font-family: 'RobotoRegular';
    src: local('RobotoRegular'), url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype'), url(../fonts/Roboto/Roboto-Regular.woff) format('woff'), url(../fonts/Roboto/Roboto-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayRegular';
    src: local('RalewayRegular'), url(../fonts/Raleway/static/Raleway-Regular.ttf) format('truetype'), url(../fonts/Raleway/static/Raleway-Regular.woff) format('woff'), url(../fonts/Raleway/static/Raleway-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayMedium';
    src: local('RalewayMedium'), url(../fonts/Raleway/static/Raleway-Medium.ttf) format('truetype'), url(../fonts/Raleway/static/Raleway-Medium.woff) format('woff'), url(../fonts/Raleway/static/Raleway-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RalewaySemibold';
    src: local('RalewaySemibold'), url(../fonts/Raleway/static/Raleway-SemiBold.ttf) format('truetype'), url(../fonts/Raleway/static/Raleway-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayBold';
    src: local('RalewayBold'), url(../fonts/Raleway/static/Raleway-Bold.ttf) format('truetype'), url(../fonts/Raleway/static/Raleway-Bold.woff) format('woff'), url(../fonts/Raleway/static/Raleway-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayExtrabold';
    src: local('RalewayExtrabold'), url(../fonts/Raleway/static/Raleway-ExtraBold.ttf) format('truetype'), url(../fonts/Raleway/static/Raleway-ExtraBold.woff) format('woff'), url(../fonts/Raleway/static/Raleway-ExtraBold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratExtralight';
    src: local('MontserratExtralight'), url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format('truetype'), url(../fonts/Montserrat/Montserrat-ExtraLight.woff) format('woff'), url(../fonts/Montserrat/Montserrat-ExtraLight.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratLight';
    src: local('MontserratLight'), url(../fonts/Montserrat/Montserrat-Light.ttf) format('truetype'), url(../fonts/Montserrat/Montserrat-Light.woff) format('woff'), url(../fonts/Montserrat/Montserrat-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratRegular';
    src: local('MontserratRegular'), url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype'), url(../fonts/Montserrat/Montserrat-Regular.woff) format('woff'), url(../fonts/Montserrat/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-header {
    padding: 30px;
    background-color: #1D232C;
    background-image: url(../img/bg_photo.jpg);
    background-size: cover;
}

.logo-icon {
    fill: #fff;
}

.logo-link {
    text-decoration: none;
    align-items: center;
    display: flex;
}

.logo-text {
    color: #fff;
    font-family: 'RalewayRegular';
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: -0.04em;
}

.header-nav {
    width: 70%;
}

.header-navigation {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 30px 0;
}

.header-navigation-link {
    text-decoration: none;
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
}

.header-navigation-link:hover,
.header-navigation-link:focus,
.header-navigation-link:active {
    color: #9a8c7a;
}

.header-navigation-icon-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 5%;
}

.header-navigation-icon {
    fill: #fff;
}

.header-navigation-icon:hover,
.header-navigation-icon:focus,
.header-navigation-icon:active {
    fill: #9a8c7a;
}

.main-header-navigation {
    display: flex;
    max-width: 1230px;
    margin: 0 auto;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.header-slider {
    display: flex;
}

.header-slider-button-left {
    width: 40px;
    height: 73px;
    background: transparent;
    margin: 350px 0 0 0;
}

.header-slider-button-left:hover {
    opacity: 30%;
}

.header-slider-button-left:focus {
    opacity: 30%;
}

.header-slider-button-right {
    width: 40px;
    height: 73px;
    background: transparent;
    transform: rotate(180deg);
    margin: 350px 0 0 0;
}

.header-slider-button-right:hover {
    opacity: 30%;
}

.header-slider-button-right:focus {
    opacity: 30%;
}

.header-slider-main-title {
    font-family: 'RalewayMedium';
    font-size: 36px;
    line-height: 1.2;
    color: #ffffff;
}

.header-slider-title {
    font-family: 'RalewayExtrabold';
    font-size: 52px;
    line-height: 1.2;
    color: #ffffff;
}

.header-slider-content {
    margin: 0 auto;
    text-align: center;
    padding: 250px 0 0 0;
}

.header-slider-text {
    font-family: 'MontserratLight';
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    width: 562px;
    padding: 0 0 50px 0;
}

.header-slider-button {
    background-color: #998675;
    color: #fff;
    text-decoration: none;
    font-family: 'RalewayExtrabold';
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    width: 170px;
    height: 53px;
    border-radius: 3px;
    padding: 20px;
}

.header-slider-button:hover {
    background-color: #211b19;
}

.header-slider-button:focus {
    background-color: #211b19;
}

.header-slider-button:active {
    background-color: #211b19;
}

.header-slider-radio {
    display: flex;
    justify-content: center;
}

.header-slider-radio-type {
    display: block;
    width: 7px;
    height: 7px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
    margin: 150px 10px 0 0;
}

.header-slider-radio-type:hover {
    background-color: transparent;
    border: 2px solid #fff;
    transform: scale(1.2);
}

.header-slider-radio-type:focus {
    background-color: transparent;
    border: 2px solid #fff;
    transform: scale(1.2);
}

.section-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px;
}

.section-project-card {
    width: 266px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

.section-project-card:after {
    content: "";
    display: block;
    flex-wrap: wrap;
    width: 150px;
    height: 3px;
    background-color: #f1eee9;
    margin: 0 auto;
}

.section-project-card:hover .section-project-icon {
    fill: #c7b299;
}

.section-project-card:hover .section-project-title {
    color: #c7b299;
}

.section-project-card:hover:after {
    background-color: #c7b299;
}

.section-project-text {
    text-align: center;
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
    padding: 0 0 20px 0;
}

.section-project-title {
    text-align: center;
    font-family: 'RalewaySemibold';
    font-size: 22px;
    line-height: 1.2;
    color: #555555;
}

.section-project-icon {
    display: block;
    fill: #555555;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.section-ideas {
    background-color: #fbfaf8;
    padding: 50px 0 0 0;
    margin: 0 auto;
}

.section-ideas-title {
    font-family: 'RalewaySemibold';
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
    text-align: center;
}

.section-ideas-text {
    font-family: 'MontserratLight';
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    text-align: center;
    width: 757px;
    margin: 0 auto;
    padding: 0 0 150px 0;
}

.section-ideas-photo {
    margin: 0 auto;
    max-width: 1230px;
    position: relative;
    height: 360px;
}

.section-ideas-photo-phone {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 50%;
    bottom: 0;
    width: 770px;
    height: 400px;
}

.section-ideas-photo-main {
    left: 19%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 770px;
    height: 482px;
}

.section-ideas-photo-project {
    position: absolute;
    z-index: 0;
    right: 0;
    width: 50%;
    bottom: 0;
    width: 770px;
    height: 400px;
}

.aside-main {
    background-color: #392820;
    background: linear-gradient(270deg, #4d3326, #211b19);
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.aside-container {
    max-width: 1230px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.aside-title {
    font-family: 'RalewayRegular';
    font-size: 28px;
    line-height: 1.2;
    color: #ffffff;
}

.aside-word {
    color: #c7b299;
}

.aside-text {
    font-family: 'MontserratLight';
    font-size: 18px;
    line-height: 1.2;
    color: #615855;
}

.aside-href {
    background-color: #998675;
    font-family: 'RalewayExtrabold';
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    width: 170px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    align-self: center;
    line-height: 3.5em;
}

.aside-href:hover {
    background-color: #52473d;
}

.aside-href:focus {
    background-color: #52473d;
}

.section-latest-projects {
    margin: 50px;
}

.section-latest-projects-title {
    font-family: 'RalewaySemibold';
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
    text-align: center;
}

.section-latest-projects-text {
    font-family: 'MontserratLight';
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    width: 757px;
    text-align: center;
    margin: 0 auto;
}

.section-latest-projects-button {
    color: #8c8c8c;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 120px;
    height: 32px;
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 21px;
    margin: 40px 10px 40px 0;
}

.section-latest-projects-button-cont {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.section-latest-projects-button:hover {
    background-color: #998675;
    color: #fff;
}

.section-latest-projects-button:focus {
    background-color: #998675;
    color: #fff;
}

.section-latest-projects-button:active {
    background-color: #998675;
    color: #fff;
}

.section-latest-projects-article {
    width: 370px;
    position: relative;
}

.section-latest-projects-article:hover .article-btn-link {
    display: block;
}

.section-latest-projects-article:hover .article-btn-search {
    display: block;
}

.section-latest-projects-article:hover .article-btn-link:hover {
    fill: #c7b299;
}

.section-latest-projects-article:hover .article-btn-search:hover {
    fill: #c7b299;
}

.section-latest-projects-article:hover .latest-projects-article-photo {
    filter: brightness(30%);
}

.section-latest-projects-article:hover .latest-projects-article-txt {
    background-color: #362f2d;
    color: #fff;
}

.section-latest-projects-article:hover .latest-projects-article-txt::before {
    border-bottom: 10px solid #362f2d;
}

.latest-projects-article-txt {
    width: 100%;
    position: relative;
    background-color: #fbfaf8;
    margin: -25px 0 0 0;
}

.latest-projects-article-title:hover {
    color: #fff;
}

.latest-projects-article-text {
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
}

.latest-projects-article-txt::before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid#fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
}

.latest-projects-article-title {
    font-family: 'RalewayMedium';
    font-size: 20px;
    line-height: 1.2;
    color: #c7b299;
    display: block;
    padding: 25px 0px 0 20px;
}

.latest-projects-article-text {
    display: block;
    padding: 0 0 20px 20px;
}

.article-btn-link,
.article-btn-search {
    width: 20px;
    height: 20px;
    display: none;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 35%;
}

.latest-projects-article-svg {
    fill: #fff;
}

.latest-projects-article-svg:hover {
    fill: #c7b299;
}

.latest-projects-article-svg:focus {
    fill: #c7b299;
}

.article-btn-link {
    left: 35%;
}

.article-btn-search {
    right: 35%;
}

.section-latest-projects-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    max-width: 1230px;
    margin: 0 auto;
}

.section-latest-projects-href {
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    font-family: 'RalewayExtrabold';
    font-size: 14px;
    line-height: 3.5;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 40px;
}

.section-latest-projects-href:hover,
.section-latest-projects-href:focus {
    background-color: #362f2d;

}

.section-video {
    position: relative;
    color: #fff;
}

.video-file {
    width: 100%;
    object-fit: cover;
}

.section-video-title {
    position: absolute;
    top: 35%;
    left: 42%;
    font-family: 'RalewayMedium';
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

.section-video-text {
    position: absolute;
    top: 45%;
    left: 37%;
    width: 552px;
    font-family: 'MontserratLight';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.section-video-time {
    position: absolute;
    top: 60%;
    left: 51%;
}

.video-play-btn {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 25%;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    fill: #fff;
}

.video-play-btn:hover {
    fill: #998675;
}

.video-play-btn:active {
    fill: #9986750c;
}

.main-mobile {
    margin: 0 auto;
    display: flex;
    padding: 40px 0 0 0;
    max-width: 1230px;
}

.main-mobile-content {
    margin: 60px 0 0 0;
}

.main-mobile-title {
    font-family: 'RalewaySemibold';
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
    margin: 0 0 40px 0;
}

.main-mobile-text {
    font-family: 'MontserratLight';
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    max-width: 657px;
    margin: 0 0 45px 0;
}

.main-mobile-list {
    font-family: 'MontserratLight';
    font-size: 16px;
    line-height: 32px;
    color: #8c8c8c;
    list-style-type: none;
    margin: 0 auto;
}

.main-mobile-item::before {
    content: '>';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 30px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #c7b299;
    border-radius: 50%;
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
}

.section-points {
    background: linear-gradient(270deg, #4d3326, #211b19);
    padding: 60px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.section-points-card {
    align-items: center;
    text-align: center;
    display: block;
    flex-wrap: wrap;
    max-width: 136px;
    align-items: center;

}

.section-points-card::after {
    content: "";
    display: block;
    flex-wrap: wrap;
    width: 30px;
    height: 2px;
    background-color: #f1eee9;
    margin: 0 auto;
}

.section-points-card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    list-style-type: none;
}

.section-points-card-title {
    font-family: 'MontserratExtralight';
    font-size: 48px;
    line-height: 36px;
    color: #ffffff;
    margin: 30px 0 20px 0;
}

.section-points-card-text {
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #c7b299;
    margin: 0 0 30px 0;
}

.section-posts {
    padding: 80px 0;
    max-width: 1230px;
    margin: 0 auto;
}

.section-posts-card {
    padding: 0 0 40px 0;
    width: 370px;
    border: 1px solid #f8f8f8;
    position: relative;
}

.section-posts-card:hover .section-posts-card-time {
    background-color: #c7b299;
}

.section-posts-card:hover .section-posts-card-month {
    background-color: #a48d72;
}

.section-posts-card:hover .section-posts-card-title {
    color: #c7b299;
}

.section-posts-card:hover .section-posts-card-text {
    color: #fff;
}

.section-posts-card:hover .section-posts-img {
    filter: brightness(30%)
}

.section-posts-card:hover {
    background-color: #362f2d;
}

.section-posts-card-date {
    position: absolute;
    top: 5%;
    right: 82%;
    width: 50px;
}

.section-posts-card-link {
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 20px;
    color: #c7b299;
    text-decoration: none;
    margin: 0 0 0 30px;
}

.section-posts-card-link::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 5px;
    height: 10px;
    background-image: url(../img/arrow.svg);
}

.section-posts-card-link:hover {
    color: #c7b29998;
}

.section-posts-card-link:focus {
    color: #c7b29998;
}

.section-posts-card-time {
    width: 50px;
    height: 35px;
    background-color: #363636;
    border-radius: 3px 3px 0px 0px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 20px;
    font-family: 'MontserratLight';
    padding: 10px 0 0 0;
}

.section-posts-card-month {
    width: 50px;
    height: 25px;
    background-color: #252525;
    border-radius: 0px 0px 3px 3px;
    text-align: center;
    color: #ffffff;
    font-family: 'RobotoRegular';
    font-size: 12px;
    line-height: 20px;
}

.section-posts-title {
    font-family: 'RalewaySemibold';
    font-size: 30px;
    line-height: 1.2;
    color: #555555;
    text-align: center;
}

.section-posts-text {
    width: 757px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 30px 0;
    font-family: 'MontserratLight';
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
}

.section-posts-card-title {
    font-family: 'RalewayMedium';
    font-size: 20px;
    line-height: 1.2;
    color: #555555;
    padding: 0 0 0 30px;
}

.section-posts-card-text {
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0 30px 30px;
    width: 300px;
}

.section-posts-card-block {
    display: flex;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1230px;
    padding: 0;
}

.main-products {
    background-color: #1D232C;
    background-image: url(../img/bg_photo_11122.jpg);
    padding: 140px 0 110px;
    background-size: cover;
}

.main-products-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
    max-width: 1230px;
    margin: 0 auto;
    list-style-type: none;
}

.main-products-list-logo:hover {
    opacity: 70%;
}

.footer {
    background-color: #191919;
}

.footer-main {
    background-color: #191919;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 30px;
    margin: 0 auto;
    max-width: 1230px;
}

.logo-icon-footer {
    fill: #fff;
}

.logo-text-footer {
    font-family: 'RalewayRegular';
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #ffffff;
    vertical-align: 15px;
}

.footer-main-logo-info {
    max-width: 258px;
}

.footer-main-logo-info-text {
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    max-height: 258px;
}

.footer-main-logo-info-link {
    font-family: 'MontserratRegular';
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
    text-decoration: none;
}

.footer-main-logo-info-link::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 5px;
    height: 10px;
    background-image: url(../img/arrow.svg);
}

.footer-main-logo-info-link:hover::after {
    opacity: 50%;
}

.footer-main-logo-info-link:hover {
    opacity: 50%;
}

.footer-main-logo-info-link:focus {
    opacity: 50%;
}

.footer-main-posts {
    width: 250px;
    margin: 20px 0 0 0;
}

.footer-main-posts-title {
    font-family: 'RalewayBold';
    font-size: 24px;
    line-height: 1.2;
    color: #ffffff;
    margin: 0 0 30px 0;
}

.footer-main-posts-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-main-posts-date {
    font-family: 'MontserratLight';
    font-size: 12px;
    line-height: 20px;
    color: #363636;
}

.footer-main-posts-text {
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}

.footer-main-posts-item-href {
    text-decoration: none;
}

.footer-main-posts-item:not(:last-child)::after {
    content: '';
    width: 270px;
    display: inline-block;
    border-bottom: 2px solid #252525;
    margin: 0 0 20px 0;
}

.footer-main-posts-item:hover .footer-main-posts-date {
    color: #fff;
}

.footer-main-posts-item:focus .footer-main-posts-date {
    color: #fff;
}

.footer-main-posts-item:hover .footer-main-posts-text {
    color: #c7b299;
}

.footer-main-posts-item:focus .footer-main-posts-text {
    color: #c7b299;
}

.footer-main-twitter {
    width: 267px;
}

.footer-main-twitter-title {
    font-family: 'RalewayBold';
    font-size: 24px;
    line-height: 1.2;
    color: #ffffff;
}

.footer-main-twitter-item {
    list-style-type: none;
}

.footer-main-twitter-list {
    margin: 0;
    padding: 0;
}

.footer-main-twitter-item-text {
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}

.footer-main-twitter-item-href {
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 20px;
    color: #00bff3;
}

.footer-main-twitter-item-hreff {
    font-family: 'MontserratLight';
    font-size: 14px;
    line-height: 20px;
    color: #959595;
}

.footer-main-twitter-item-time {
    font-family: 'MontserratLight';
    font-size: 12px;
    line-height: 20px;
    color: #363636;
}

.footer-main-twitter-item:not(:last-child)::after {
    content: '';
    width: 270px;
    display: inline-block;
    border-bottom: 2px solid #252525;
    margin: 0 0 20px 0;
}

.footer-main-widget {
    max-width: 290px;
}

.footer-main-widget-title {
    font-family: 'RalewayBold';
    font-size: 24px;
    line-height: 1.2;
    color: #ffffff;
}

.footer-main-widget-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-main-widget-img {
    margin: 0 15px 10px 0;
}

.footer-main-widget-img:hover {
    transform: scale(1.1);
}

.footer-main-widget-img:focus {
    transform: scale(1.1);
}

.footer-copy {
    background-color: #111111;
    padding: 50px 0;
}

.footer-copy-content {
    display: flex;
    justify-content: space-between;
    max-width: 1230px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-copy-content-list {
    list-style-type: none;
    font-family: 'MontserratLight';
    font-size: 13px;
    line-height: 20px;
    color: #555555;
    display: flex;
}

.footer-copy-content-list-cop {
    padding: 0 10px 0 0;
}

.footer-copy-content-list-cop-href {
    text-decoration: none;
    color: #555555;
}

.footer-copy-content-list-cop-href:hover {
    color: #c7b299;
}

.footer-copy-content-list-cop-href:focus {
    color: #c7b299;
}

.footer-copy-content-list-cop-word {
    color: #959595;
}

.footer-copy-content-list-cop:not(:last-child)::after {
    content: '';
    padding: 0 0 0 10px;
    border-right: 1px solid #252525;
}

@media (max-width: 425px) {
    .footer-main-logo-info-text {
        color: red;
    }
}